<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My E-shop</title>
</head>
<body>
    <h1>My E-shop</h1>

    {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <strong>{{ product.price }} kč</strong>
        </div>
    {% endfor %}
</body>
</html>